.article {
  display: grid;

  grid-template-columns: 1fr 70rem 1fr;
  grid-column-gap: 4rem;

  &__container {
    grid-column: 2 / 3;
    border: 1px solid $color2;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 3rem;
    margin-left: 0;
    padding: 3rem;
    font-size: $font-medium;
    color: $color5;

    &__header {
      font-size: $font-xlarge;
      color: $color6;
      margin-bottom: 2rem;
      margin-top: 0;

      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &__creationTime {
      font-size: $font-xsmall;
      margin-bottom: 4rem;
    }

    &__body {
      font-size: $font-small;
    }

    &__tags {
      margin-top: 3rem;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &__elem:first-child {
        margin-left: 2rem;
      }

      &__elem {
        display: flex;
        font-size: $font-small;
        padding: .5rem 1.5rem;
        border-radius: 4rem;
        margin: .3rem;
        background-color: $color1;
        color: $color5;
        border: .1rem solid rgba(197, 195, 198, 1);

        &:hover {
          text-decoration: underline;
          cursor: pointer;
          transform: translateY(-.2rem);
          color: $color6;
        }
      }

    }

  }

}