.cocktailList {
  @extend %grid-container;

  &__about {
    @extend %primary-text-position;

    &-text {
      @extend %primary-text-decoration;
      text-align: center;
      padding-bottom: 6rem;
    }
  }

  &__container {
    grid-column: 2 / 3;
    padding-bottom: 2rem;

    &:last-of-type {
      padding-bottom: 9rem;
    }

    &__header {
      font-size: $font-large;
      padding-bottom: 1rem;
      color: $color5;

      &:hover {
        @extend %hover;
      }
    }

    &__name {
      font-size: $font-medium;
      color: $color6;
      text-indent: 1rem;
      padding-bottom: 1rem;

      &:before {
        content: "\f000";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -5 rem;
        width: 5.3rem;
      }

      &:hover {
        @extend %hover;
      }
    }
  }
}