.paginations {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;

  &__btn {
    width: 15rem;
    font-size: $font-medium;
    background-color: $color6;
    color: $color2;
    padding: 1.3rem 2.3rem;
    margin: 0 1.3rem 6rem;
    border-radius: 10rem;
    text-align: center;
    cursor: pointer;
    border: .4rem solid rgba(197, 195, 198, 1);

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
      color: $color2;
      cursor: pointer;
    }
  }

  &__hidden {
    display: none;
  }
}