.tags {
  display: grid;
  grid-template-columns: 1fr 70rem 1fr;
  grid-template-rows: minmax(max-content, 1fr) max-content;
  grid-column-gap: 4rem;

  &__primary {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
      color: $color5;
      font-size: $font-large;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  &__top {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    &__box { /*ul*/
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 3rem;

      &-decor { /*li*/
        display: flex;
        font-size: $font-small;
        padding: 1.3rem 2.3rem;
        border-radius: 6rem;
        margin: .3rem;
        background-color: $color1;
        color: $color5;
        border: .1rem solid $color2;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
          transform: translateY(-.2rem);
          color: $color6;
        }
      }
    }
  }
}
