*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: 'Exo', sans-serif;
  word-wrap: break-word;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: inherit;
}

i::before {
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit !important;
}

.tags, .article, .cocktailList, .alphabet, .contactUs, .pageNotFound {
  display: grid;
  grid-template-columns: 1fr 70rem 1fr;
}

.tags__top__box-decor:hover, .article__container__tags__elem:hover, .alphabet__container__tag:hover {
  text-decoration: underline;
  cursor: pointer;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  color: #f13342;
}

.tags__top__box-decor, .article__container__tags__elem, .alphabet__container__tag {
  background-color: #c8ced3;
  color: #435674;
  border: 0.1rem solid #c5c3c6;
}

.tags__primary, .cocktailList__about, .alphabet__about, .contactUs__header, .pageNotFound__header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.tags__primary-text, .cocktailList__about-text, .alphabet__about-text, .contactUs__header-text, .pageNotFound__header-text {
  color: #435674;
  font-size: 3.4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.cocktailList__container__header:hover, .cocktailList__container__name:hover, .pageNotFound__header-link, .post__button:hover, .post__button:active, .post__button:focus {
  cursor: pointer;
  text-decoration: underline;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-0.2rem, 0, 0);
            transform: translate3d(-0.2rem, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(0.3rem, 0, 0);
            transform: translate3d(0.3rem, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-0.5rem, 0, 0);
            transform: translate3d(-0.5rem, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(0.5rem, 0, 0);
            transform: translate3d(0.5rem, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-0.2rem, 0, 0);
            transform: translate3d(-0.2rem, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(0.3rem, 0, 0);
            transform: translate3d(0.3rem, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-0.5rem, 0, 0);
            transform: translate3d(-0.5rem, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(0.5rem, 0, 0);
            transform: translate3d(0.5rem, 0, 0);
  }
}

@media only screen and (max-width: 1250px) {
  .nav {
    display: grid;
    grid-template-rows: repeat(2, -webkit-max-content);
    grid-template-rows: repeat(2, max-content);
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    display: grid;
    grid-template-rows: repeat(2, -webkit-max-content);
    grid-template-rows: repeat(2, max-content);
  }
}

.nav__details {
  display: grid;
}

@media only screen and (max-width: 1250px) {
  .nav__details {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: repeat(4, -webkit-max-content);
    grid-template-rows: repeat(4, max-content);
    grid-template-columns: 1fr 70rem 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .nav__details {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: repeat(4, -webkit-max-content);
    grid-template-rows: repeat(4, max-content);
    grid-template-columns: 1fr -webkit-max-content 1fr;
    grid-template-columns: 1fr max-content 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .nav__details {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 7rem -webkit-max-content;
    grid-template-rows: 7rem max-content;
    grid-template-columns: -webkit-min-content;
    grid-template-columns: min-content;
    grid-column-gap: 0rem;
  }
}

@media only screen and (max-width: 1250px) {
  .nav__details-fixForNonLogo {
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .nav__details-fixForNonLogo {
    grid-template-rows: 7rem -webkit-max-content;
    grid-template-rows: 7rem max-content;
  }
}

.nav__details__header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.3rem;
}

@media only screen and (max-width: 1250px) {
  .nav__details__header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

@media only screen and (max-width: 800px) {
  .nav__details__header {
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .nav__details__header {
    grid-row: 2 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 1250px) {
  .nav__details__header-fixForNonLogo {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .nav__details__header-mobile {
    grid-row: 3 / 4;
  }
}

.nav__details__header-text {
  color: #435674;
  font-size: 3.4rem;
  margin: 0 0 0 auto;
  padding: 0;
}

@media only screen and (max-width: 1250px) {
  .nav__details__header-text {
    font-size: 6.5rem;
    line-height: 7rem;
  }
}

@media only screen and (max-width: 500px) {
  .nav__details__header-text {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 290px) {
  .nav__details__header-text {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 1250px) {
  .nav__details__header-link {
    margin: 0 auto;
  }
}

.nav__details__header-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.nav__details__btn {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, minmax(-webkit-max-content, 1fr));
  grid-template-columns: repeat(4, minmax(max-content, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1250px) {
  .nav__details__btn {
    grid-row: 3 / 4;
  }
}

@media only screen and (max-width: 800px) {
  .nav__details__btn {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, minmax(-webkit-max-content, 1fr));
    grid-template-columns: repeat(4, minmax(max-content, 1fr));
  }
}

@media only screen and (max-width: 500px) {
  .nav__details__btn {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: none;
  }
}

@media only screen and (max-width: 800px) {
  .nav__details__btn-hidden {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .nav__details__btn-menu {
    grid-row: 2 / 3;
  }
}

.nav__details__btn-decor {
  text-align: center;
  text-decoration: none;
  font-size: 1.7rem;
  color: #435674;
  cursor: pointer;
  padding: 3rem .5rem;
  border: none;
  position: relative;
}

@media only screen and (max-width: 1250px) {
  .nav__details__btn-decor {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav__details__btn-decor {
    padding: 3rem .5rem;
  }
}

@media only screen and (max-width: 500px) {
  .nav__details__btn-decor {
    font-size: 2.4rem;
    padding: 1rem;
  }
}

.nav__details__btn-decor:before {
  content: "";
  width: 0;
  height: 0.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #435674;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 500px) {
  .nav__details__btn-decor:before {
    background-color: white;
  }
}

.nav__details__btn-decor:hover:before {
  width: 100%;
  left: 0;
  background: #435674;
}

@media only screen and (max-width: 500px) {
  .nav__details__btn-decor:hover:before {
    background-color: white;
  }
}

.nav__details__btn-decor:active, .nav__details__btn-decor:focus {
  color: #435674;
  outline: none;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .nav__details__btn-decor:active, .nav__details__btn-decor:focus {
    background-color: white;
  }
}

.nav__details__btn-select {
  text-align: center;
  font-size: 1.7rem;
  color: #435674;
  cursor: pointer;
  padding: 2.7rem .5rem 3rem;
  border-bottom: 0.3rem solid #435674;
  text-decoration: none;
}

@media only screen and (max-width: 1250px) {
  .nav__details__btn-select {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .nav__details__btn-select {
    border: none;
    background-color: #c8ced3;
    font-size: 2.4rem;
    padding: .5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.nav__details__btn-mobile {
  display: none;
}

.nav__details__btn-mobile:focus {
  outline: none;
}

.nav__details__btn-mobile:hover {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .nav__details__btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 5rem;
    width: 5rem;
    font-size: 2.3rem;
    background-color: #c8ced3;
    border: 1px solid #c5c3c6;
  }
}

@media only screen and (max-width: 800px) {
  .nav__details__btn-mobile-hidden {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .nav__details__btn-mobile-pic {
    color: #435674;
    margin: auto;
  }
}

@media only screen and (max-width: 800px) {
  .nav__details__btn-hidden {
    display: none;
  }
}

.nav__details__btn-ingr {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

@media only screen and (max-width: 500px) {
  .nav__details__btn-ingr {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-top: .5rem;
  }
}

.nav__details__btn-list {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

@media only screen and (max-width: 500px) {
  .nav__details__btn-list {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

.nav__details__btn-about {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

@media only screen and (max-width: 500px) {
  .nav__details__btn-about {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
}

.nav__details__btn-cont {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

@media only screen and (max-width: 500px) {
  .nav__details__btn-cont {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
}

.nav__details__search {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin: auto 0;
  padding-right: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 1250px) {
  .nav__details__search {
    position: absolute;
    right: 0;
    top: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .nav__details__search {
    grid-row: 1 / 2;
    position: absolute;
    top: 2rem;
  }
}

.nav__details__search:focus {
  outline: none;
}

.nav__details__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__details__search-box {
  height: 2.3rem;
  border-top: 1px solid #c5c3c6;
  border-bottom: 1px solid #c5c3c6;
  border-left: 1px solid #c5c3c6;
  border-right: 1px solid #c5c3c6;
  text-decoration: none;
  line-height: unset;
  padding-left: .5rem;
  font-size: 1rem;
  color: #46494c;
  width: 21.735rem;
  font-family: 'Exo', sans-serif;
}

.nav__details__search-box:focus {
  outline: none;
}

@media only screen and (max-width: 1250px) {
  .nav__details__search-box {
    display: none;
    font-size: 5.4rem;
  }
}

@media only screen and (max-width: 1250px) {
  .nav__details__search-mobile {
    height: 5rem;
    border-top: 1px solid #c5c3c6;
    border-bottom: 1px solid #c5c3c6;
    border-left: 1px solid #c5c3c6;
    border-right: none;
    padding-left: .5rem;
    font-size: 1.7rem;
    width: 21.735rem;
  }
  .nav__details__search-mobile:focus {
    outline: none;
  }
}

@media only screen and (max-width: 500px) {
  .nav__details__search-mobile {
    height: 5rem;
    border-top: 1px solid #c5c3c6;
    border-bottom: 1px solid #c5c3c6;
    border-left: 1px solid #c5c3c6;
    padding-left: .5rem;
    font-size: 1.75rem;
    width: calc(100% + -7rem);
    margin-left: 2rem;
    display: block;
  }
  .nav__details__search-mobile:focus {
    outline: none;
  }
}

.nav__details__search-btn {
  display: none;
}

@media only screen and (max-width: 1250px) {
  .nav__details__search-btn {
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    display: block;
    background-color: #c8ced3;
    border: 1px solid #c5c3c6;
  }
  .nav__details__search-btn:focus {
    outline: none;
  }
  .nav__details__search-btn:hover {
    cursor: pointer;
  }
}

.nav__details__search-pic {
  color: #435674;
}

.nav__details__search-pic:focus {
  outline: none;
}

.nav__details__search-pic-hidden {
  display: none;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1250px) {
  .nav__logo {
    grid-row: 1 / 2;
  }
}

@media only screen and (max-width: 800px) {
  .nav__logo {
    margin-top: 7rem;
  }
}

@media only screen and (max-width: 500px) {
  .nav__logo {
    grid-row: 2 / 3;
    margin-top: .3rem;
  }
}

@media only screen and (max-width: 290px) {
  .nav__logo {
    display: none;
  }
}

.nav__logo-pic {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media only screen and (max-width: 500px) {
  .nav__logo-pic {
    -webkit-transform: none;
            transform: none;
    width: 50%;
    height: 95%;
    z-index: -1;
    margin-top: -2rem;
  }
}

.nav__logo-pic:hover {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.tags {
  grid-template-rows: minmax(-webkit-max-content, 1fr) -webkit-max-content;
  grid-template-rows: minmax(max-content, 1fr) max-content;
  grid-column-gap: 4rem;
}

@media only screen and (max-width: 800px) {
  .tags {
    grid-template-columns: 1fr minmax(10rem, 70rem) 1fr;
    grid-column-gap: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  .tags__primary-text {
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    font-size: 3.6rem;
  }
}

.tags__top {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.tags__top__box {
  /*ul*/
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 425px) {
  .tags__top__box {
    margin-bottom: 4rem;
  }
}

.tags__top__box-decor {
  /*li*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.7rem;
  padding: 1.3rem 2.3rem;
  border-radius: 6rem;
  margin: .3rem;
}

@media only screen and (max-width: 425px) {
  .tags__top__box-decor {
    padding: .8rem 1.5rem;
    border-radius: 3rem;
    font-size: 2rem;
  }
}

.article {
  grid-column-gap: 4rem;
}

@media only screen and (max-width: 800px) {
  .article {
    grid-template-columns: 1fr minmax(10rem, 70rem) 1fr;
    grid-column-gap: 2rem;
  }
}

.article__container {
  grid-column: 2 / 3;
  border: 1px solid #c5c3c6;
  margin: 0 0 3rem;
  padding: 3rem;
  font-size: 2.3rem;
  color: #435674;
}

@media only screen and (max-width: 425px) {
  .article__container {
    font-size: 2.4rem;
    padding: 2rem;
  }
}

.article__container__header {
  font-size: 4.5rem;
  color: #f13342;
  margin-bottom: 2rem;
  margin-top: 0;
}

@media only screen and (max-width: 425px) {
  .article__container__header {
    font-size: 3.6rem;
  }
}

.article__container__header:hover {
  text-decoration: underline;
  cursor: pointer;
}

.article__container__creationTime {
  font-size: 1rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 425px) {
  .article__container__creationTime {
    font-size: 1.2rem;
  }
}

.article__container__body {
  font-size: 1.7rem;
}

@media only screen and (max-width: 425px) {
  .article__container__body {
    font-size: 1.75rem;
  }
}

.article__container__tags {
  margin-top: 3rem;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__container__tags__elem:first-child {
  margin-left: 2rem;
}

.article__container__tags__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.7rem;
  padding: .5rem 1.5rem;
  border-radius: 4rem;
  margin: .3rem;
}

@media only screen and (max-width: 425px) {
  .article__container__tags__elem {
    font-size: 1.75rem;
  }
}

.paginations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 425px) {
  .paginations {
    padding: 0 1rem 0 1rem;
  }
}

.paginations__btn {
  width: 20rem;
  font-size: 2.3rem;
  background-color: #f13342;
  color: #c8ced3;
  padding: 1.3rem 1.3rem;
  margin: 0 1.3rem 6rem;
  border-radius: 10rem;
  text-align: center;
  cursor: pointer;
  border: 0.4rem solid #c5c3c6;
}

@media only screen and (max-width: 425px) {
  .paginations__btn {
    margin: 0 1.3rem 5rem;
  }
}

@media only screen and (max-width: 370px) {
  .paginations__btn {
    font-size: 0rem;
  }
}

.paginations__btn:hover, .paginations__btn:focus, .paginations__btn:active {
  color: #c8ced3;
  cursor: pointer;
}

.paginations__btn-chevron {
  font-size: 1.5rem;
}

.paginations__btn-chevron-right {
  padding-left: 1rem;
}

.paginations__btn-chevron-left {
  padding-right: 1rem;
}

.paginations__hidden {
  display: none;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 70rem 1fr;
  grid-column-gap: 4rem;
  height: 10rem;
  background-color: #435674;
  font-size: 2.3rem;
}

@media only screen and (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr minmax(10rem, 70rem) 1fr;
    grid-column-gap: 2rem;
  }
}

@media only screen and (max-width: 625px) {
  .footer {
    height: auto;
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 425px) {
  .footer {
    grid-template-columns: 1fr minmax(10rem, 70rem) 1fr;
    grid-column-gap: 2rem;
    font-size: 3.6rem;
  }
}

@media only screen and (max-width: 325px) {
  .footer {
    grid-template-columns: 0.5fr minmax(5rem, 70rem) 0.5fr;
    grid-column-gap: 2rem;
    font-size: 2.4rem;
  }
}

.footer__btn {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto auto;
}

@media only screen and (max-width: 625px) {
  .footer__btn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.footer__btn-decor {
  padding-left: 3rem;
  padding-right: 3rem;
  border-right: 0.2rem solid #c8ced3;
}

@media only screen and (max-width: 625px) {
  .footer__btn-decor {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2rem;
    border: none;
  }
}

@media only screen and (max-width: 325px) {
  .footer__btn-decor {
    margin: 2rem 1rem 2rem 1rem;
  }
}

.footer__btn-decor:last-of-type {
  border-right: none;
}

.footer__btn-text {
  color: #c8ced3;
}

@media only screen and (max-width: 625px) {
  .footer__btn-text {
    margin: 0 auto;
  }
}

.footer__btn-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.picture {
  background-color: #435674;
}

.picture__background {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .cocktailList {
    grid-template-columns: 1fr minmax(10rem, 70rem) 1fr;
    grid-column-gap: 2rem;
  }
}

.cocktailList__about-text {
  padding-bottom: 6rem;
}

@media only screen and (max-width: 800px) {
  .cocktailList__about-text {
    padding-bottom: 1rem;
  }
}

.cocktailList__container {
  grid-column: 2 / 3;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
  .cocktailList__container {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media only screen and (max-width: 625px) {
  .cocktailList__container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.cocktailList__container:last-of-type {
  padding-bottom: 9rem;
}

@media only screen and (max-width: 800px) {
  .cocktailList__container:last-of-type {
    padding-bottom: 5rem;
  }
}

.cocktailList__container__header {
  font-size: 3.4rem;
  padding-bottom: 1rem;
  color: #f13342;
}

.cocktailList__container__name {
  font-size: 2.3rem;
  color: #4c5c68;
  text-indent: 1rem;
  padding-bottom: 1rem;
}

.cocktailList__container__name:before {
  content: "\f000";
  font-family: FontAwesome;
  display: inline-block;
  width: 5.3rem;
}

@media only screen and (max-width: 800px) {
  .alphabet {
    grid-template-columns: 1fr minmax(10rem, 70rem) 1fr;
    grid-column-gap: 2rem;
  }
}

.alphabet__about-text {
  margin-bottom: 5rem;
}

@media only screen and (max-width: 800px) {
  .alphabet__about-text {
    margin-bottom: 3rem;
  }
}

.alphabet__container {
  grid-column: 2 / 3;
  margin-bottom: 2rem;
  display: none;
  border: 0.1rem solid #c5c3c6;
  padding: 3rem;
}

@media only screen and (max-width: 800px) {
  .alphabet__container {
    padding: 2rem;
  }
}

.alphabet__container:last-of-type {
  margin-bottom: 5rem;
}

@media only screen and (max-width: 800px) {
  .alphabet__container:last-of-type {
    margin-bottom: 3rem;
  }
}

.alphabet__container-display {
  display: inline;
}

.alphabet__container__header {
  font-size: 4.5rem;
  color: #f13342;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 425px) {
  .alphabet__container__header {
    font-size: 3.6rem;
  }
}

.alphabet__container__tag {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .5rem 1.5rem;
  border-radius: 4rem;
  word-wrap: break-word;
}

.contactUs__header {
  grid-row: 1 / 2;
}

.contactUs__header-text {
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.contactUs__letter {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactUs__letter__image {
  margin: auto;
}

.contactUs__letter__image:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
}

.contactUs-fix {
  grid-template-rows: minmax(12rem, -webkit-max-content) minmax(15rem, calc(100vh - 19rem - 28.5rem + 7.5rem));
  grid-template-rows: minmax(12rem, max-content) minmax(15rem, calc(100vh - 19rem - 28.5rem + 7.5rem));
}

.contactUs-fixFF {
  grid-template-rows: minmax(12rem, -webkit-max-content) minmax(15rem, calc(100vh - 19rem - 28.5rem + 6.8rem));
  grid-template-rows: minmax(12rem, max-content) minmax(15rem, calc(100vh - 19rem - 28.5rem + 6.8rem));
}

.pageNotFound__header {
  grid-row: 1 / 2;
}

.pageNotFound__header-link {
  color: #f13342;
}

.pageNotFound__image {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pageNotFound__image-decor {
  height: 80%;
  width: auto;
  margin: auto;
}

.pageNotFound-fix {
  grid-template-rows: minmax(9rem, -webkit-max-content) minmax(10rem, calc(100vh - 19rem - 28.5rem + 8.5rem));
  grid-template-rows: minmax(9rem, max-content) minmax(10rem, calc(100vh - 19rem - 28.5rem + 8.5rem));
}

.pageNotFound-fixFF {
  grid-template-rows: minmax(9rem, -webkit-max-content) minmax(10rem, calc(100vh - 19rem - 28.5rem + 7.75rem));
  grid-template-rows: minmax(9rem, max-content) minmax(10rem, calc(100vh - 19rem - 28.5rem + 7.75rem));
}

.post {
  display: block;
  width: 66.6%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 5rem;
  background-color: #c8ced3;
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post__header-input {
  width: 100%;
  font-size: 3.5rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}

.post__checkbox {
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: 0.2rem solid #c5c3c6;
}

.post__checkbox-decor {
  padding-left: .5rem;
}

.post__container {
  padding-top: 2rem;
}

.post__container-input {
  width: 100%;
  border-radius: 1rem;
  padding: .5rem;
  border: none;
  font-size: 1.7rem;
}

.post__container-hidden {
  display: none;
}

.post__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  margin-bottom: 0;
  padding: 2rem;
  width: 20rem;
  border-radius: 6rem;
  border: 0.4rem solid #c5c3c6;
  font-size: 2rem;
  background-color: #435674;
}

.post__button:hover, .post__button:active, .post__button:focus {
  color: #c5c3c6;
}

.post__button-decor {
  color: #c5c3c6;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: bold;
}

.post__button-decor:hover, .post__button-decor:active, .post__button-decor:focus {
  color: #c5c3c6;
}

.post__description {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.post__label {
  font-size: 2.3rem;
}
