.article {
  @extend %grid-container;
  grid-column-gap: 4rem;

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr minmax(10rem, 70rem) 1fr;
    grid-column-gap: 2rem;
  }

  &__container {
    grid-column: 2 / 3;
    border: 1px solid $color2;
    margin: 0 0 3rem;
    padding: 3rem;
    font-size: $font-medium;
    color: $color5;

    @media only screen and (max-width: 425px) {
      font-size: $font-medium_mobile;
      padding: 2rem;
    }

    &__header {
      font-size: $font-xlarge;
      color: $color6;
      margin-bottom: 2rem;
      margin-top: 0;

      @media only screen and (max-width: 425px) {
        font-size: $font-large-mobile;
      }

      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &__creationTime {
      font-size: $font-xsmall;
      margin-bottom: 4rem;

      @media only screen and (max-width: 425px) {
        font-size: $font-xsmall_mobile;
      }
    }

    &__body {
      font-size: $font-small;

      @media only screen and (max-width: 425px) {
        font-size: $font-small_mobile;
      }
    }

    &__tags {
      margin-top: 3rem;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &__elem:first-child {
        margin-left: 2rem;
      }

      &__elem {
        display: flex;
        font-size: $font-small;
        padding: .5rem 1.5rem;
        border-radius: 4rem;
        margin: .3rem;
        @extend %button-background;

        @media only screen and (max-width: 425px) {
          font-size: $font-small_mobile;
        }

        &:hover {
          @extend %pop-up;
        }
      }
    }
  }
}