.nav {
  @media only screen and (max-width: 1250px) {
    display: grid;
    grid-template-rows: repeat(2, max-content);
  }

  @media only screen and (max-width: 425px) {
    display: grid;
    grid-template-rows: repeat(2, max-content);
  }

  &__details {
    display: grid;

    @media only screen and (max-width: 1250px) {
      grid-row: 2 / 3;
      display: grid;
      grid-template-rows: repeat(4, max-content);
      grid-template-columns: 1fr 70rem 1fr;
    }

    @media only screen and (max-width: 800px) {
      grid-row: 2 / 3;
      display: grid;
      grid-template-rows: repeat(4, max-content);
      grid-template-columns: 1fr max-content 1fr;
    }

    @media only screen and (max-width: 425px) {
      grid-row: 1 / 2;
      display: grid;
      grid-template-rows: 7rem max-content;
      grid-template-columns: min-content;
      grid-column-gap: 0rem;
    }

    &-fixForAbout {
      @media only screen and (max-width: 1250px) {
        grid-template-rows: 1fr 1fr;
      }
      @media only screen and (max-width: 425px) {
        grid-template-rows: 7rem max-content;
      }
    }

    &__header {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      display: flex;
      align-items: center;
      padding-left: 2.3rem;

      @media only screen and (max-width: 1250px) {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }

      @media only screen and (max-width: 800px) {
        padding: 0;
      }

      @media only screen and (max-width: 425px) {
        grid-row: 2 / 3;
        display: flex;
        padding-left: 0rem;
        margin-left: 2rem;
        margin-right: 2rem;
      }

      &-fixForAbout {
        @media only screen and (max-width: 1250px) {
          grid-row: 2 / 3;
          grid-column: 2 / 3;
          padding-bottom: 1rem;
        }
      }

      &-mobile {
        @media only screen and (max-width: 425px) {
          grid-row: 3 / 4;
        }
      }

      &-text {
        color: $color5;
        font-size: $font-large;
        margin: 0 0 0 auto;
        padding: 0;

        @media only screen and (max-width: 1250px) {
          font-size: $font-xlarge_laptop;
          line-height: 7rem;
        }

        @media only screen and (max-width: 425px) {
          margin-top: 2rem;
        }

      }

      &-link {
        @media only screen and (max-width: 1250px) {
          margin: 0 auto;
        }
      }

      &-link:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }

    &__btn {
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, minmax(max-content, 1fr));

      align-items: center;
      justify-content: center;

      @media only screen and (max-width: 1250px) {
        grid-row: 3 / 4;
      }

      @media only screen and (max-width: 800px) { //
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, minmax(max-content, 1fr));
      }

      @media only screen and (max-width: 425px) { //
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: none;
      }

      &-hidden {
        @media only screen and (max-width: 800px) { //
          display: none;
        }
      }

      &-menu {
        @media only screen and (max-width: 800px) { //
          grid-row: 2 / 3;
        }
      }

      &-decor {
        text-align: center;
        text-decoration: none;
        font-size: $font-small;
        color: $color5;
        cursor: pointer;
        padding: 3rem .5rem;
        border: none;
        position: relative;

        @media only screen and (max-width: 1250px) {
          font-size: $font-xsmall_laptop;
        }
        @media only screen and (max-width: 600px) {
          padding: 3rem .5rem;
        }

        @media only screen and (max-width: 425px) {
          margin: 2rem;
          font-size: $font-xsmall_laptop-3;
          padding: 1rem;
        }

        &:before {
          content: "";
          width: 0;
          height: 0.3rem;
          position: absolute;
          bottom: 0;
          left: 0;
          background: $color5;
          transition: all 0.3s;

          @media only screen and (max-width: 425px) {
            background-color: white;
          }
        }

        &:hover {
          &:before {
            width: 100%;
            left: 0;
            background: $color5;
            @media only screen and (max-width: 425px) {
              background-color: white;
            }
          }
        }

        &:active,
        &:focus {
          color: $color5;
          outline: none;
          text-decoration: none;
          @media only screen and (max-width: 425px) {
            background-color: white;
          }
        }
      }

      &-select {
        text-align: center;
        font-size: $font-small;
        color: $color5;
        cursor: pointer;
        padding: 2.7rem .5rem 3rem;
        border-bottom: .3rem solid $color5;
        text-decoration: none;

        @media only screen and (max-width: 1250px) {
          font-size: $font-xsmall_laptop;
        }

        @media only screen and (max-width: 425px) {
          border: none;
          background-color: $color1;
          font-size: $font-xsmall_laptop-3;
          padding: 1rem;
        }
      }

      &-mobile {
        display: none;

        &:focus {
          outline: none;
        }

        @media only screen and (max-width: 800px) {
          display: flex;
          position: absolute;
          left: 2rem;
          top: 2rem;
          height: 5rem;
          width: 5rem;
          font-size: $font-medium;
          background-color: $color1;
          border: 1px solid $color2;
        }

        &-hidden {
          @media only screen and (max-width: 800px) {
            display: none;
          }
        }

        &-pic {
          @media only screen and (max-width: 800px) {
            color: $color5;
            margin: auto;
          }
        }
      }

      &-ingr {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        @media only screen and (max-width: 425px) {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
        }
      }

      &-list {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        @media only screen and (max-width: 425px) {
          grid-row: 2 / 3;
          grid-column: 1 / 2;
        }
      }

      &-about {
        grid-column: 3 / 4;
        grid-row: 1 / 2;

        @media only screen and (max-width: 425px) {
          grid-row: 3 / 4;
          grid-column: 1 / 2;
        }
      }

      &-cont {
        grid-column: 4 / 5;
        grid-row: 1 / 2;

        @media only screen and (max-width: 425px) {
          grid-row: 4 / 5;
          grid-column: 1 / 2;
        }
      }
    }

    &__search {
      grid-column: 3 / 4;
      grid-row: 1 / 2;

      margin: auto 0;
      padding-right: 2.3rem;

      display: flex;
      flex-direction: row-reverse;

      @media only screen and (max-width: 1250px) {
        position: absolute;
        right: 0;
        top: 2rem;
      }

      @media only screen and (max-width: 425px) {
        grid-row: 1 / 2;
        position: absolute;
        top: 2rem;
      }


      &:focus {
        outline: none;
      }

      &-form {
        display: flex;
      }

      &-box {
        height: 2.3rem;
        border-top: 1px solid $color2;
        border-bottom: 1px solid $color2;
        border-left: 1px solid $color2;
        border-right: 1px solid $color2;

        text-decoration: none;
        line-height: unset;

        padding-left: .5rem;
        font-size: $font-xsmall;
        color: $color3;

        width: 21.735rem;

        font-family: 'Exo', sans-serif;

        &:focus {
          outline: none;
        }

        @media only screen and (max-width: 1250px) {
          display: none;
          font-size: $font-small_laptop;
        }
      }

      &-mobile {
        @media only screen and (max-width: 1250px) {
          height: 5rem;
          border-top: 1px solid $color2;
          border-bottom: 1px solid $color2;
          border-left: 1px solid $color2;
          border-right: none;

          text-decoration: none;
          line-height: unset;

          padding-left: .5rem;
          font-size: $font-small;
          color: $color3;

          width: 21.735rem;

          font-family: 'Exo', sans-serif;


          &:focus {
            outline: none;
          }
        }

        @media only screen and (max-width: 425px) {
          height: 5rem;
          border-top: 1px solid $color2;
          border-bottom: 1px solid $color2;
          border-left: 1px solid $color2;
          text-decoration: none;
          line-height: unset;

          padding-left: .5rem;
          font-size: $font-xsmall-laptop;
          color: $color3;

          width: calc(100% + -7rem);
          margin-left: 2rem;

          font-family: 'Exo', sans-serif;

          display: block;


          &:focus {
            outline: none;
          }
        }
      }

      &-btn {
        display: none;

        @media only screen and (max-width: 1250px) {
          height: 5rem;
          width: 5rem;
          font-size: $font-xsmall_laptop;
          display: block;
          background-color: $color1;
          border: 1px solid $color2;

          &:focus {
            outline: none;
          }
        }
      }

      &-pic {
        color: $color5;

        &:focus {
          outline: none;
        }

        &-hidden {
          display: none;
        }
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 1250px) {
      grid-row: 1 / 2;
    }

    @media only screen and (max-width: 800px) {
      margin-top: 7rem;
    }

    @media only screen and (max-width: 425px) {
      grid-row: 2 / 3;
      margin-top: .3rem;
    }

    &-pic {
      transform: scale(0.9);
      transition: all .2s ease-in-out;

      @media only screen and (max-width: 425px) {
        transform: none;
        width: 50%;
        height: 95%;
      }

    }

    &-pic:hover {
      cursor: pointer;
      transform: scale(1);

    }
  }
}

.hidden {
  display: none;
}
