//COLORS

$color1: rgba(200, 206, 211, 1);
$color2: rgba(197, 195, 198, 1);
$color3: rgba(70, 73, 76, 1);
$color4: rgba(76, 92, 104, 1);
$color5: rgba(67, 86, 116, 1);

$color6: rgba(241, 51, 66, 1);
$color7: rgba(11, 91, 175, 1);
$color8: lightslategrey;

//FONTS
$font-xlarge: 4.5rem;
$font-large: 3.4rem;
$font-medium: 2.3rem;
$font-small: 1.7rem;
$font-xsmall: 1rem;

//FONTS_LAPTOP
$font-xlarge_laptop: 6.5rem;
$font-large_laptop: 5.4rem;
$font-medium_laptop: 4.3rem;
$font-small_laptop: 5.7rem;
$font-xsmall_laptop-3: 3rem;
$font-xsmall_laptop: 2rem;

//Media Queries for Devices//
/////////////////////////////
/////////NAV-MENU////////////
/////////////////////////////
//max-width: 1250px;
//max-width: 800px;
//max-width: 425px;

