<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>Cocktail Blog - about</title>

    <link rel="stylesheet" href="../static/stylesheet/main.css">
    <link href="https://fonts.googleapis.com/css?family=Exo:400,500,600,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../static/javascript/index/searchDisplay.js"></script>
    <script src="../static/javascript/index/burgerMenu.js"></script>

</head>
<body>
<nav class="nav">

    <div class="nav__details nav__details-fixForNonLogo">

        <div class="nav__details__header nav__details__header-fixForNonLogo" id="header">
            <a class="nav__details__header-link" href="/"><h1 class="nav__details__header-text">Cocktail Blog</h1></a>
        </div>

        <button class="nav__details__btn-mobile" id="menuBar" onclick="menu()">
            <i id="burger" class="fas fa-bars nav__details__btn-mobile-pic"></i>
            <i id="crossMenu"></i>
        </button>

        <div class="nav__details__btn nav__details__btn-hidden" id="menuBtn">

            <a class="nav__details__btn-ingr nav__details__btn-decor" href="ingredients">Ingredients</a>
            <a class="nav__details__btn-list nav__details__btn-decor" href="list">List</a>
            <a class="nav__details__btn-about nav__details__btn-select" href="about">About</a>
            <a class="nav__details__btn-cont nav__details__btn-decor" href="contactUs">Contact Us</a>
        </div>

        <div class="nav__details__search">
            <div class="nav__details__search-form" onsubmit="submit()">
                <input class="nav__details__search-box" id="mySearch" name="search"
                       placeholder="Search through articles..."
                       type="text" onkeyup="enterPressed(event)">
                <button class="nav__details__search-btn" onclick="searchBtnClicked()">
                    <i id="search" class="fa fa-search nav__details__search-pic"></i>
                    <i id="crossSearch" class="nav__details__search-pic"></i>
                </button>
            </div>
        </div>
    </div>

</nav>

<div class="picture">
    <img class="picture__background" src="../static/img/about.png">
</div>


<footer class="footer">
    <div class="footer__btn">
        <span class="footer__btn-decor"><a class="footer__btn-text" href="ingredients">Ingredients</a></span>
        <span class="footer__btn-decor"><a class="footer__btn-text" href="list">List</a></span>
        <span class="footer__btn-decor"><a class="footer__btn-text" href="about">About</a></span>
        <span class="footer__btn-decor"><a class="footer__btn-text" href="contactUs">Contact Us</a></span>
    </div>
</footer>

</body>
</html>