<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cocktail Blog</title>

    <link rel="stylesheet" href="../static/stylesheet/main.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <script src="../static/javascript/articles.js"></script>
    <script src="../static/javascript/pagination.js"></script>
    <script src="../static/javascript/topTags.js"></script>
    <script src="../static/javascript/displayOneArticle.js"></script>
    <script src="../static/javascript/search.js"></script>
    <script src="../static/javascript/pickDisplay.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Exo:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="nav">

    <div class="nav__details">

        <div class="nav__details__header">
            <a href="/" class="nav__details__header-link"><h1 class="nav__details__header-text">Cocktail Blog</h1></a>
        </div>

        <div class="nav__details__btn">
            <a href="ingredients" class="nav__details__btn-ingr nav__details__btn-decor">Ingredients</a>
            <a href="#" class="nav__details__btn-list nav__details__btn-decor">List</a>
            <a href="#" class="nav__details__btn-about nav__details__btn-decor">About</a>
            <a href="#" class="nav__details__btn-cont nav__details__btn-decor">Contact Us</a>
        </div>

        <div class="nav__details__search">
            <form class="nav__details__search-form" onsubmit="submit()">
                <input class="nav__details__search-box" type="text" id="mySearch" name="search"
                       placeholder="Search the site...">
                <button class="nav__details__search-btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="nav__logo">
        <a href="/" class="nav__logo-pic"><img src="/static/img/shark_logo.png"
                                               alt="logo picture with cock who drinks cocktail"></a>
    </div>
</div>

<div class="tags">

    <div class="tags__primary">
        <h2 class="tags__primary-text">All that you want to know about cocktails</h2>
    </div>

    <div class="tags__top">
        <ul class="tags__top__box" id="tags__top__box"></ul>
    </div>

</div>

<div class="article"></div>

<div class="paginations">
    <a href="#" class="paginations__btn" id="prev" onclick="previousPage()">previous</a>
    <a href="#" class="paginations__btn" id="next" onclick="nextPage()">next</a>
</div>

</body>
</html>