<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cocktail Blog</title>

    <link href="../static/stylesheet/main.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <script src="../static/javascript/index/articles.js"></script>
    <script src="../static/javascript/index/pagination.js"></script>
    <script src="../static/javascript/index/topTags.js"></script>
    <script src="../static/javascript/index/displayOneArticle.js"></script>
    <script src="../static/javascript/index/search.js"></script>
    <script src="../static/javascript/index/pickDisplay.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Exo:400,500,600,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" rel="stylesheet">

</head>
<body>
<nav class="nav">

    <div class="nav__details">

        <div class="nav__details__header">
            <a class="nav__details__header-link" href="/"><h1 class="nav__details__header-text">Cocktail Blog</h1></a>
        </div>

        <div class="nav__details__btn">
            <a class="nav__details__btn-ingr nav__details__btn-decor" href="ingredients">Ingredients</a>
            <a class="nav__details__btn-list nav__details__btn-decor" href="list">List</a>
            <a class="nav__details__btn-about nav__details__btn-decor" href="about">About</a>
            <a class="nav__details__btn-cont nav__details__btn-decor" href="contactUs">Contact Us</a>
        </div>

        <div class="nav__details__search">
            <form class="nav__details__search-form" onsubmit="submit()">
                <input class="nav__details__search-box" id="mySearch" name="search" placeholder="Search the site..."
                       type="text">
                <button class="nav__details__search-btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="nav__logo">
        <a class="nav__logo-pic" href="/"><img alt="logo picture with cock who drinks cocktail"
                                               src="/static/img/shark_logo.png"></a>
    </div>
</nav>

<div class="tags">

    <div class="tags__primary">
        <h2 class="tags__primary-text">All that you want to know about cocktails</h2>
    </div>

    <div class="tags__top">
        <ul class="tags__top__box" id="tags__top__box"></ul>
    </div>

</div>

<main class="article"></main>

<div class="paginations">
    <a class="paginations__btn" href="#" id="prev" onclick="previousPage()"><i
            class="fal fa-chevron-left paginations__btn-chevron paginations__btn-chevron-left"></i>previous</a>
    <a class="paginations__btn" href="#" id="next" onclick="nextPage()">next<i
            class="fal fa-chevron-right paginations__btn-chevron paginations__btn-chevron-right"></i></a>
</div>

<footer class="footer">
    <div class="footer__btn">
        <span class="footer__btn-decor"><a class="footer__btn-text" href="ingredients">Ingredients</a></span>
        <span class="footer__btn-decor"><a class="footer__btn-text" href="#">List</a></span>
        <span class="footer__btn-decor"><a class="footer__btn-text" href="#">About</a></span>
        <span class="footer__btn-decor"><a class="footer__btn-text" href="#">Contact Us</a></span>
    </div>
    <div class="footer__backToTop">
        <a class="footer__backToTop-text" href="#"><i class="fas fa-arrow-up footer__backToTop-arrow"></i>Back to
            top</a>
    </div>
</footer>

</body>
</html>