<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>Cocktail Blog</title>

    <link href="../static/stylesheet/main.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <script src="../static/javascript/index/articles.js"></script>
    <script src="../static/javascript/index/pagination.js"></script>
    <script src="../static/javascript/index/topTags.js"></script>
    <script src="../static/javascript/index/displayOneArticle.js"></script>
    <script src="../static/javascript/index/search.js"></script>
    <script src="../static/javascript/index/pickDisplay.js"></script>
    <script src="../static/javascript/index/loadFooter.js"></script>
    <script src="../static/javascript/index/loadPaginationBtn.js"></script>
    <script src="../static/javascript/index/searchDisplay.js"></script>
    <script src="../static/javascript/index/burgerMenu.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
<!--    <link href="https://fonts.googleapis.com/css?family=Exo:400,500,600,700" rel="stylesheet">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<nav class="nav">

    <div class="nav__details">

        <div class="nav__details__header" id="header">
            <a class="nav__details__header-link" href="/"><h1 class="nav__details__header-text">Cocktail Blog</h1></a>
        </div>

        <button class="nav__details__btn-mobile" id="menuBar" onclick="menu()">
            <i id="burger" class="fas fa-bars nav__details__btn-mobile-pic"></i>
            <i id="crossMenu"></i>
        </button>

        <div class="nav__details__btn nav__details__btn-hidden" id="menuBtn">

            <a class="nav__details__btn-ingr nav__details__btn-decor" href="ingredients">Ingredients</a>
            <a class="nav__details__btn-list nav__details__btn-decor" href="list">List</a>
            <a class="nav__details__btn-about nav__details__btn-decor" href="about">About</a>
            <a class="nav__details__btn-cont nav__details__btn-decor" href="contactUs">Contact Us</a>
        </div>

        <div class="nav__details__search">
            <div class="nav__details__search-form" onsubmit="submit()">
                <input class="nav__details__search-box" id="mySearch" name="search"
                       placeholder="Search through articles..."
                       type="text" onkeyup="enterPressed(event)">
                <button class="nav__details__search-btn" onclick="searchBtnClicked()">
                    <i id="search" class="fa fa-search nav__details__search-pic"></i>
                    <i id="crossSearch" class="nav__details__search-pic"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="nav__logo">
        <a class="nav__logo-pic" href="/"><img alt="logo picture with cock who drinks cocktail"
                                               src="/static/img/shark_logo.png"></a>
    </div>
</nav>

<div class="tags">

    <div class="tags__primary">
        <h2 class="tags__primary-text">All that you want to know about cocktails</h2>
    </div>

    <div class="tags__top">
        <ul class="tags__top__box" id="tags__top__box"></ul>
    </div>

</div>

<main class="article"></main>

</body>
</html>