<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cocktail Blog - ingredients</title>

    <link href="https://fonts.googleapis.com/css?family=Exo:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <script src="../static/javascript/index/displayOneArticle.js"></script>
    <script src="../static/javascript/ingredients/displayList.js"></script>

    <link rel="stylesheet" href="../static/stylesheet/main.css">
</head>
<body>
<nav class="nav">

    <div class="nav__details">

        <div class="nav__details__header">
            <a href="/" class="nav__details__header-link"><h1 class="nav__details__header-text">Cocktail Blog</h1></a>
        </div>

        <div class="nav__details__btn">
            <a class="nav__details__btn-ingr nav__details__btn-decor" href="ingredients">Ingredients</a>
            <a class="nav__details__btn-list nav__details__btn-decor" href="list">List</a>
            <a class="nav__details__btn-about nav__details__btn-decor" href="about">About</a>
            <a class="nav__details__btn-cont nav__details__btn-decor" href="contactUs">Contact Us</a>
        </div>

        <div class="nav__details__search">
            <form class="nav__details__search-form" onsubmit="submit()">
                <input class="nav__details__search-box" type="text" id="mySearch" name="search"
                       placeholder="Search the site...">
                <button class="nav__details__search-btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="nav__logo">
        <a href="/" class="nav__logo-pic"><img src="/static/img/shark_logo.png"
                                               alt="logo picture with cock who drinks cocktail"></a>
    </div>
</nav>

<div id="list" class="cocktailList"></div>

<footer class="footer">
    <div class="footer__btn">
        <span class="footer__btn-decor"><a href="ingredients" class="footer__btn-text">Ingredients</a></span>
        <span class="footer__btn-decor"><a href="list" class="footer__btn-text">List</a></span>
        <span class="footer__btn-decor"><a href="about" class="footer__btn-text">About</a></span>
        <span class="footer__btn-decor"><a href="contactUs" class="footer__btn-text">Contact Us</a></span>
    </div>
    <div class="footer__backToTop">
        <a href="#" class="footer__backToTop-text"><i class="fas fa-arrow-up footer__backToTop-arrow"></i>Back to
            top</a>
    </div>
</footer>
</body>
</html>