<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog post</title>
    <link href="https://fonts.googleapis.com/css?family=Exo:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>

    <script src="../static/javascript/post/summernoteEditField.js"></script>
    <script src="../static/javascript/post/checkboxExpansion.js"></script>
    <script src="../static/javascript/post/saveForm.js"></script>

    <link rel="stylesheet" href="../static/stylesheet/main.css">
</head>
<body>
<nav class="nav">

    <div class="nav__details">

        <div class="nav__details__btn">
            <a class="nav__details__btn-ingr nav__details__btn-decor" href="ingredients">Ingredients</a>
            <a class="nav__details__btn-list nav__details__btn-decor" href="list">List</a>
            <a class="nav__details__btn-about nav__details__btn-decor" href="about">About</a>
            <a class="nav__details__btn-cont nav__details__btn-decor" href="contactUs">Contact Us</a>
        </div>

    </div>

    <div class="nav__logo">
        <a href="/" class="nav__logo-pic"><img src="/static/img/shark_logo.png"
                                               alt="logo picture with cock who drinks cocktail"></a>
    </div>
</nav>


<div class="post">

    <!--HEADER-->

    <div class="post__header">
        <label for="header" class="post__label">Write a header of the post</label>
        <textarea name="header" id="header" class="post__header-input" required maxlength="255" placeholder="HEADER"
                  cols="10" rows="2"></textarea>
    </div>

    <p class="post__description">Header must be less than 255 characters in length</p>

    <!--POST-->

    <div id="note" class="click2edit post__paragraph"></div>
    <button id="edit" class="btn btn-primary" onclick="edit()" type="button">Edit</button>
    <button id="save" class="btn btn-primary" onclick="save()" type="button">Save</button>

    <!--CHECKBOX IS COCKTAIL?-->

    <div class="post__checkbox">
        <input type="checkbox" name="isCocktail" value="isCocktail" id="isCocktail">
        <label class="post__checkbox-decor" for="isCocktail">Is cocktail?</label>
        <p class="post__checkbox-desc">Choose if this post is about cocktail</p>
        <div class="post__container post__container-hidden" id="isCocktailName">
            <label for="cocktailName" class="post__label">Write the name of the cocktail</label>
            <textarea name="ingr" id="cocktailName" class="post__container-input"
                      placeholder="Name of the cocktail"></textarea>
        </div>
    </div>


    <!--INGREDIENTS-->

    <div class="post__container">
        <label for="tags" class="post__label">Write ingredients for a cocktail</label>
        <textarea name="ingr" id="ingr" class="post__container-input" placeholder="Ingredients"></textarea>
    </div>

    <p class="post__description">First ingredient is considered as a main one. It's possible to write more than one
        ingredient. It should be separated by comma from
        each other</p>

    <!--TAGS-->

    <div class="post__container">
        <label for="tags" class="post__label">Write tags for the post</label>
        <textarea name="tags" id="tags" class="post__container-input" placeholder="Tags"></textarea>
    </div>

    <p class="post__description">It's possible to write more than one tag. It should be separated by comma from each
        other</p>

    <!--BUTTON TO SUBMIT POST-->

    <div class="post__button">
        <a class="post__button-decor" onclick="saveForm()" type="button">Submit</a>
    </div>

</div>

</body>
</html>