.contactUs {
  @extend %grid-container;

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr minmax(min-content, 70rem) 1fr;
  }

  &__header {
    @extend %primary-text-position;
    grid-row: 1 / 2;

    &-text {
      @extend %primary-text-decoration;
      margin-top: 2rem;
      margin-bottom: 1rem;

      @media only screen and (max-width: 800px) {
        margin-left: 2rem;
        margin-right: 2rem;
      }

      @media only screen and (max-width: 290px) {
        font-size: $font-medium-mobile;
      }
    }
  }

  &__letter {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;

    &__image {
      margin: auto;

      &:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        cursor: pointer;
      }
    }
  }

  &-fix {
    grid-template-rows: minmax(12rem, max-content) minmax(15rem, calc(100vh - 19rem - 28.5rem + 13rem));
  }
  &-fixFF {
    grid-template-rows: minmax(12rem, max-content) minmax(15rem, calc(100vh - 19rem - 28.5rem + 12rem));
  }
}
