.cocktailList {
  @extend %grid-container;

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr minmax(10rem, 70rem) 1fr;
    grid-column-gap: 2rem;
  }

  &__about {
    @extend %primary-text-position;

    &-text {
      @extend %primary-text-decoration;
      padding-bottom: 6rem;

      @media only screen and (max-width: 800px) {
        padding-bottom: 1rem;
      }
    }
  }

  &__container {
    grid-column: 2 / 3;
    padding-bottom: 2rem;

    @media only screen and (max-width: 800px) {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    @media only screen and (max-width: 625px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    &:last-of-type {
      padding-bottom: 9rem;

      @media only screen and (max-width: 800px) {
        padding-bottom: 5rem;
      }
    }

    &__header {
      font-size: $font-large;
      padding-bottom: 1rem;
      color: $color6;

      &:hover {
        @extend %hover;
      }
    }

    &__name {
      font-size: $font-medium;
      color: $color4;
      text-indent: 1rem;
      padding-bottom: 1rem;

      &:before {
        content: "\f000";
        font-family: FontAwesome;
        display: inline-block;
        width: 5.3rem;
      }

      &:hover {
        @extend %hover;
      }
    }
  }
}