.alphabet {
  @extend %grid-container;

  &__about {
    @extend %primary-text-position;

    &-text {
      @extend %primary-text-decoration;
      margin-bottom: 5rem;
    }
  }

  &__container {
    grid-column: 2 / 3;
    margin-bottom: 2rem;
    display: none;
    border: .1rem solid $color2;
    padding: 3rem;

    &:last-of-type {
      margin-bottom: 5rem;
    }

    &-display {
      display: inline;
    }

    &__header {
      font-size: $font-xlarge;
      color: $color6;
      margin-bottom: 1rem;
    }

    &__tag {
      font-size: $font-medium;
      margin-bottom: 1rem;
      margin-right: 1rem;
      display: inline-flex;
      padding: .5rem 1.5rem;
      border-radius: 4rem;
      @extend %button-background;

      &:hover {
        @extend %pop-up;
      }
    }
  }
}
