.alphabet {
  @extend %grid-container;

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr minmax(min-content, 70rem) 1fr;
  }

  &__about {
    @extend %primary-text-position;

    &-text {
      @extend %primary-text-decoration;
      margin-bottom: 5rem;

      @media only screen and (max-width: 800px) {
        margin-bottom: 3rem;
      }

      @media only screen and (max-width: 320px) {
        margin: 2rem;
        font-size: $font-medium-mobile;
      }
    }
  }

  &__container {
    grid-column: 2 / 3;
    margin-bottom: 2rem;
    display: none;
    border: .1rem solid $color2;
    padding: 3rem;

    @media only screen and (max-width: 800px) {
      padding: 2rem;
      margin: 1rem;
    }

    &:last-of-type {
      margin-bottom: 5rem;

      @media only screen and (max-width: 800px) {
        margin-bottom: 3rem;
      }
    }

    &-display {
      display: inline;
    }

    &__header {
      font-size: $font-xlarge;
      color: $color6;
      margin-bottom: 1rem;

      @media only screen and (max-width: 425px) {
        font-size: $font-large-mobile;
      }

      @media only screen and (max-width: 320px) {
        font-size: $font-medium-mobile;
      }
    }

    &__tag {
      font-size: $font-medium;
      margin-bottom: 1rem;
      margin-right: 1rem;
      display: inline-flex;
      padding: .5rem 1.5rem;
      border-radius: 4rem;
      word-wrap: break-word;
      @extend %button-background;

      &:hover {
        @extend %pop-up;
      }

      @media only screen and (max-width: 320px) {
        font-size: $font-small-mobile;
      }
    }
  }
}
