.pageNotFound {
  @extend %grid-container;

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr minmax(min-content, 70rem) 1fr;
  }

  &__header {
    @extend %primary-text-position;
    grid-row: 1 / 2;

    &-text {
      @extend %primary-text-decoration;
      margin-left: 2rem;
      margin-right: 2rem;

      @media only screen and (max-width: 225px) {
        font-size: $font-medium-mobile;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    &-link {
      color: $color6;
      @extend %hover;
    }
  }

  &__image {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;

    &-decor {
      margin: 4rem auto;

      @media only screen and (max-width: 630px) {
        width: 80%;
        height: 80%;
      }
    }
  }
}